<form>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sort">Sort</label>
        <select class="form-control" id="sort">
          <option>Rating</option>
          <option>Title</option>
          <option>Year</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="order">Order</label>
        <select class="form-control" id="order">
          <option>Asc</option>
          <option>Desc</option>
        </select>
      </div>
    </div>
  </div> 
</form>
